/*
	Landed by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Loader */

	body.landing:before, body.landing:after {
		display: none !important;
	}

/* Icon */

	.icon.alt {
		color: inherit !important;
	}

	.icon.major.alt:before {
		color: #ffffff !important;
	}

/* Banner */

	#banner:after {
		background-color: rgba(23, 24, 32, 0.7);
	}

/* Footer */

	#footer .icons .icon.alt:before {
		color: #ffffff !important;
	}